.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#display-box {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    padding:10px;
}

